/* Home Page Section Block */

.home-page-section {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    margin-bottom: 100px;

&__title {
    color: #206a9c;
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	margin-top: 100px;
}

&__content {
    /* text-align: justify; */
}

}


